@model BookLocationStatisticsViewModel

<h5><span class="statistics-header">Books On Shelf:</span><span>@Model.TotalBooksOnShelf</span></h5>

<h5><span class="statistics-header">Borrowed Books:</span><span>@Model.TotalBooksCheckedOut</span></h5>

<h5><span class="statistics-header">Returned Books:</span><span>@Model.TotalBooksReturned</span></h3>