@model StateEditorViewModel

<div class="card">
    <h2 class="card-header">State</h2>
    <div class="card-block">        
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="CountryId"></label>
                <select asp-for="CountryId" asp-items="Model.Countries" class="form-control">
                    <option value="">Select Country</option>
                </select>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name"  class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Abbreviation"></label>
                <input type="text" asp-for="Abbreviation" class="form-control">
                <span asp-validation-for="Abbreviation" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        
    </div>
</div>
