@model StateListingViewModel 

<div class="card card-block">
    <div class="card-header" style="background: #fff">
        <h2 class="card-title float-left">States</h2>
        <a asp-action="Create" class="btn btn-primary float-right">Add State</a>

    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in @Model.States)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Abbreviation</td>
                    <td><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm">edit</a></td>
                </tr>

            }
        </tbody>
    </table>
</div>