                <div class="row">
                    <div class="col-sm-12">
                        <ul class="main-menu">
                            <li class="has-menus">
                                <a href="">Administration</a>
                                <ul class="horizontal">    
                                    <li class="icon-container"><i class="fa fa-list"></i></li>                                
                                    <li><a asp-action="Index" asp-controller="Book">Books</a></li>
                                    <li><a asp-action="Index" asp-controller="Publisher">Publishers</a></li>
                                    <li><a asp-action="Index" asp-controller="Author">Authors</a></li>
                                    <li><a asp-action="Index" asp-controller="Book">Sources</a></li>
                                    <li><a href="">Category</a></li>
                                    <li><a href="">Barcodes</a></li>
                                </ul>
                            </li>
                            <li><a href="">Book Circulation</a></li>
                            <li><a href="">Report</a></li>
                            <li><a href="">Manage</a></li>
                            <li><a href="">Web Master</a></li>
                        </ul>
                    </div>
                </div>