@model BookAuthorEditorViewModel


<div class="card card-block">
    <h2 class="card-title">@Model.Book.Title</h2>
    <div class="card-text">
        <br>
        <h4>Add Author</h4>
        <br>
        <form asp-action="CreateBookAuthors" asp-controller="Book">
            <div class="form-group">
                <label asp-for="SelectedAuthorIds"></label>
                <select asp-for="SelectedAuthorIds" asp-items="Model.Authors" class="form-control">
                </select>
                <span asp-validation-for="SelectedAuthorIds" class="text-danger"></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>

@section Styles {
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css">
}
@section Scripts {
    <script src="~/js/common.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            $(function() { $("#SelectedAuthorIds").select2({ theme: "bootstrap" }); })
        })
    </script>        
}