@model BookCirculationListingViewModel

<h4 class="mt-2" style="font-weight: bold">Books Circulation</h4>
<div class="content-container shadowed">
    <div class="content"> 
        <form asp-action="Index" asp-controller="Circulation" method="get">           
            <div class="row form-group pb-0">
                <div class="col-sm-12 col-md-3">
                    <label class="form-control-label">Category</label>                        
                    <select asp-for="SearchCirculationsOptions.Status" class="form-control form-control-sm">
                        <option value="">Select Option</option>
                        <option value="Borrow Initiated">Borrow Initiated</option>
                        <option value="Approved">Borrrowed</option>
                        <option value="Return Initiated">Return Initiated</option>
                        <option value="Return Confirmed">Returned</option>
                    </select>
                </div>
                <div class="col-sm-12 col-md-3">
                    <label for="" class="form-control-label">Start Date</label>
                    <input asp-for="SearchCirculationsOptions.StartDate" type="text" class="form-control form-control-sm datetimepicker">
                </div>
                <div class="col-sm-12 col-md-3">
                    <label for="" class="form-control-label">End Date</label>
                    <input asp-for="SearchCirculationsOptions.EndDate" type="text" class="form-control form-control-sm datetimepicker">
                </div>
                <div class="col-sm-12 col-md-3">
                    <br/>                        
                    <button type="submit" class="btn btn-secondary btn-sm mt-2">Search</button>
                </div>
            </div>
        </form>    
    </div>
</div>
   
@Html.Partial("_BorrowedBookListingIndex", @Model)

@section Styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.min.css" />
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.4/build/jquery.datetimepicker.full.js"></script>
    <script>
        $(function(){
            $(".datetimepicker").datetimepicker({                    
                    format: 'm-d-y'
            });
            $(".status-id-form-control").on("change",  function(e){
//                console.log($(this).find(":selected").val())
                var status = $(this).find(":selected").text();
                var approvedDaysId = $(this).closest('div[class="row circulation-options"]').find('div > select[class*="approved-days-id-form-control"]');
                
                if(status.trim().match(/Approved/)){                    
                    var requestedDays = $(this).closest('div[class="row circulation-options"]').find('div > input[class="requested-days"]').val();                    
                    approvedDaysId.find("option").filter(function(){ return this.text == requestedDays; }).prop('selected', true)                    
                    approvedDaysId.removeClass("dim");                    
                    approvedDaysId.prop("disabled", false)
                }else{
                    approvedDaysId.find("option").filter(function(){ return this.value === ""; }).prop('selected', true)
                    approvedDaysId.addClass("dim");
                    approvedDaysId.prop("disabled", true)
                }
                
            })
        })
    </script>
}