<div class="content-container shadowed">
    <div class="content">
        <div class="form-group">
            <div class="col-sm-12 col-md-6">
                <label for="" class="form-control-label">User Id</label>
                <input type="text" class="form-control">
            </div>
            <div class="col-sm-12 col-md-2"><button class="btn btn-secondary">Search</button></div>
        </div>
    </div>
</div>

<div class="content-container shadowed">
    <div class="content">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>