@model ReturnBookViewModel
<div class="card">
    <h4 class="card-header"> Return Books</h4>
    <div class="card-block">
        <form asp-action="Return" method="POST">
            <div class="form-group">
                <label asp-for="SelectedCheckOutId" class="col-form-label"></label>
                <select asp-for="SelectedCheckOutId" asp-items="@(new SelectList(Model.Checkouts, "Id", "Title"))" class="form-control">
                    <option value="">Select a Book</option>
                </select>
                <span class="form-text"><em>Note: All Returned Books is subject to inspection before comfirmation</em></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Return</button>
            </div>
        </form>
    </div>
</div>