@{
    Layout = "~/Areas/Control/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills pb-0 mb-0">
    <li>
        <a class="nav-link btn btn-primary" asp-action="BookBasic" asp-controller="Book">
            <span><i class="material-icons small">subject</i></span>
            <span>Basic</span>
        </a>
    </li>
    <li>
        <a  class="nav-link btn btn-success" asp-action="BookTypes" asp-controller="Book">
            <i class="material-icons small">toc</i>
            <span>Types</span>
        </a>
    </li>
    <li>
        <a  class="nav-link btn btn-success" asp-action="BookAuthors" asp-controller="Book">
            <span><i class="material-icons small">perm_identity</i></span>
            <span>Authors</span>
        </a>
    </li> 
</ul>
<hr>
@RenderBody()

@section Styles
{
    @RenderSection("Styles", required: false)
}

@section Scripts
{
    @RenderSection("Scripts", required: false)
}