<div class="content-container shadowed">
    <div class="row">
        <div class="col-sm-12">
            <div class="content">
                <ul class="nav nav-pills">
                    <li>
                        <a class="nav-link">
                            <span></span>
                            <span>Overview</span>
                        </a>
                    </li>
                    <li>
                        <a  class="nav-link edit" asp-action="ManageAuthors" asp-controller="Book" asp-route-id="@Model.Id">
                            <span></span>
                            <span>Authors</span>
                        </a>
                    </li>
                    <li>
                        <a  class="nav-link edit" asp-action="ManageBookLocations" asp-controller="Book" asp-route-subject="Location" asp-route-id="@Model.Id">
                            <span></span>
                            <span>Locations</span>
                        </a>
                    </li>
                    <li>
                        <a  class="nav-link edit" asp-action="ManageBookPrice" asp-controller="Book" asp-route-subject="Location">
                            <span></span>
                            <span>Price</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link">
                            <span></span>
                            <span>Volume</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link">
                            <span></span>
                            <span>Edition</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
       
    </div>
</div>