@model ShelfEditorViewModel

<div class="row">
    <div class="col-sm-12 col-md-5">
        <form asp-action="Create" method="POST">
            @Html.Partial("_Form")
        </form>
    </div>
</div>