@model LocationEditorViewModel
<div class="card card-block">
    <h2 class="card-title">Location</h2>
    <div class="card-text">        
            <input type="hidden" asp-for="Id">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" asp-for="Name"  class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code"></label>
                <input type="text" asp-for="Code" class="form-control">
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
    </div>
</div>
