@model BookEditorViewModel

<form asp-action="Create" enctype="multipart/form-data" method="POST">
    <div class="card">
        <div class="card-block mb-0 pb-0">
            <div class="row">
                <div class="col-sm-12 col-md-3 pr-0 form-group">
                    <select asp-for="GenreId" asp-items="Model.Genres" class="form-control">
                            <option value="">Select Genre</option>
                        </select>
                    <span asp-validation-for="GenreId" class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-md-3 pr-0 form-group">
                    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control">
                            <option value="">Select Book Category</option>
                        </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>

                <div class="col-sm-12 col-md-2 pr-0 form-group">
                    <select asp-for="FormatId" asp-items="Model.BookFormats" class="form-control">
                        <option value="">Select Formats</option>
                    </select>
                    <span asp-validation-for="FormatId" class="text-danger"></span>
                </div>

                <div class="col-sm-12 col-md-2 pr-0 form-group">
                    <select asp-for="LanguageId" asp-items="Model.Languages" class="form-control">
                       <option value="">Select Language</option>
                    </select>
                    <span asp-validation-for="LanguageId" class="text-danger"></span>
                </div>
                <div class="col-sm-12 col-md-2 pr-0 form-group">
                    <select asp-for="LocationId" asp-items="Model.Locations" class="form-control">
                        <option value="">Select Location</option>
                    </select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>                    
                </div>

            </div>
        </div>
    </div>



    <div class="row">
       <div class="col-sm-12 col-md-6">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Basic Information</h4>
                    <div class="card-text">
                        <div class="row form-group">
                            <label asp-for="Title" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <input asp-for="Title" type="text" class="form-control" placeholder="@Html.DisplayNameFor(f=>f.Title)">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label asp-for="SubTitle" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <input asp-for="SubTitle" type="text" class="form-control" placeholder="@Html.DisplayNameFor(f=>f.SubTitle)">
                                <span asp-validation-for="SubTitle" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label asp-for="ISBN" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <input type="text" asp-for="ISBN" class="form-control">
                                <span asp-validation-for="ISBN" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label asp-for="Volume" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <input type="text" asp-for="Volume" class="form-control">
                                <span asp-validation-for="Volume" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label asp-for="Edition" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <input type="text" asp-for="Edition" class="form-control">
                                <span asp-validation-for="Edition" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label asp-for="Pages" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <input type="text" asp-for="Pages" class="form-control">
                                <span asp-validation-for="Pages" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label asp-for="PublisherId" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <select asp-for="PublisherId" asp-items="Model.Publishers" class="form-control">
                                    <option value="">Select a publisher</option>
                                </select>
                                <span asp-validation-for="PublisherId" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="row form-group">
                            <label asp-for="Authors" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <select asp-for="SelectedAuthorIds" asp-items="Model.Authors" class="form-control" multiple="multiple" aria-multiline="false">
                                <option value="">Select Author(s)</option>
                            </select>
                                <span asp-validation-for="SelectedAuthorIds" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label asp-for="YearId" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <select asp-for="YearId" asp-items="Model.Years" class="form-control"></select>
                                <span asp-validation-for="YearId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <label asp-for="SourceId" class="col-sm-12 col-md-4"></label>
                            <div class="col-sm-12 col-md-8">
                                <select asp-for="SourceId" asp-items="Model.BookSources" class="form-control"></select>
                                <span asp-validation-for="SourceId" class="text-danger"></span>
                            </div>
                        </div>



                    </div>


                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6">
            <div class="card card-block">
                <h4 class="card-title">Book Cover</h4>
                <label class="custom-file image-upload-control">
                    <input type="file" asp-for="Image" class="custom-file-input" onchange="Common.FileBrowsed(this,'#preview', null)">
                    <span class="custom-file-control">
                        <span id="fileName"></span>
                        <img src="@Url.Content("~/images/icons/book-icon.png")" alt="" id="preview">
                    </span>
                </label>
                <span asp-validation-for="Image" class="text-danger"></span>
                <span asp-validation-for="ImageExtension" class="text-danger"></span>
            </div>
            <br>
            <div class="card card-block">
                <h4 class="card-title">Sales & Condition</h4>
                <div class="row form-group">
                    <label asp-for="PriceId" class="col-sm-12 col-md-4"></label>
                    <div class="col-sm-12 col-md-8">
                        <select asp-for="PriceId" asp-items="Model.Prices" class="form-control"></select>
                        <span asp-validation-for="PriceId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <label asp-for="ConditionId" class="col-sm-12 col-md-4"></label>
                    <div class="col-sm-12 col-md-8">
                        <select asp-for="ConditionId" asp-items="Model.Conditions" class="form-control"></select>
                        <span asp-validation-for="ConditionId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <label asp-for="GrantId" class="col-sm-12 col-md-4"></label>
                    <div class="col-sm-12 col-md-8">
                        <select asp-for="GrantId" asp-items="Model.Grants" class="form-control">
                            <option value="">Select Grant</option>
                        </select>
                        <span asp-validation-for="GrantId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <label asp-for="AvailabilityId" class="col-sm-12 col-md-4"></label>
                    <div class="col-sm-12 col-md-8">
                        <select asp-for="AvailabilityId" asp-items="Model.Availabilities" class="form-control">
                            <option value="">Select Availability</option>
                        </select>
                        <span asp-validation-for="AvailabilityId" class="text-danger"></span>
                    </div>
                </div>

                <div class="row form-group">
                    <label asp-for="CollectionModeId" class="col-sm-12 col-md-4"></label>
                    <div class="col-sm-12 col-md-8">
                        <select asp-for="CollectionModeId" asp-items="Model.CollectionModes" class="form-control">
                            <option value="">Select Mode of Collection</option>
                        </select>
                        <span asp-validation-for="CollectionModeId" class="text-danger"></span>
                    </div>
                </div>
                 <div class="row form-group">
                        <label asp-for="DaysAllowedId" class="col-sm-12 col-md-4"></label>
                       <div class="col-sm-12 col-md-8">
                            <select asp-for="DaysAllowedId" asp-items="Model.Days" class="form-control">
                                <option value="">Select Days Allowed</option>
                            </select>
                            <span asp-validation-for="DaysAllowedId" class="text-danger"></span>
                       </div>                       
                </div>
                <div class="row form-group">
                    <label asp-for="FineId" class="col-sm-12 col-md-4"></label>
                    <div class="col-sm-12 col-md-8">
                        <select asp-for="FineId" asp-items="Model.Fines" class="form-control">
                            <option value="">Select Book Fine</option>
                        </select>
                        <span asp-validation-for="FineId" class="text-danger"></span>
                    </div>
                </div>



            </div>
            <br>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Save</button>
            </div>

        </div>

    </div>
</form>