@model BookEditorViewModel
@Html.Partial("_BookFormPartial") 
@section Styles 
{
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.min.css">
    <style>
        .card-block 
        {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
        }
        .card-header
        {
            padding-top: 5px !important;
            padding-bottom: 5px !important;
            font-size: 1.2em;
        }
    </style>
}

@section Scripts 
{
    <script src="~/js/common.js"></script>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            $(function() {

                $("#SelectedAuthorIds").select2({ theme: "bootstrap" }); 

                $("#LocationId").change(function(e){
                    console.log("Got here");
                    
                    let locationId = $(this).val();
                    let shelf = $("#ShelfId");
                    
                    $.ajax({
                        method: "GET",
                        url: "/admin/book/GetShelfByLocation/" + locationId,
                        cache: false
                    })
                    .done(function(response){                          
                            var shelves = response; 
                            shelf.prop("disabled", true)
                            clearShelfDropdown(shelf);                             
                            var options = shelves.map((s) => {                                
                                return "<option value="+ s.id + ">"+ s.name + "</option>";
                            })                            
                            shelf.append(options);                                                 
                    })
                    .fail(function(response){
                        clearShelfDropdown(shelf);
                        shelf.prop("disabled", true)
                    })
                });                

                $("#AvailabilityId").change(function(e){
                    let availability = $(this);
                    let shelf = $("#ShelfId");
                    
                    console.log(availability.find(":selected").text());

                    if(availability.find(":selected").text() == "On Shelf")
                    {
                        shelf.prop("disabled", false);                        
                    }else{
                        shelf.prop("disabled", true);
                        shelf.val("")
                    }
                });

                function clearShelfDropdown(shelf)
                {
                     shelf.find('option')
                            .remove()
                            .end()
                            .append($('<option></option>')
                                .attr('value', '')
                                .text('Select Shelf'));
                            
                }

            })
            
        })
    </script>        
}