@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}



<div class="row">
    <div class="col-sm-12 col-md-5 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Forgot Password</h3>
            </div>
            <div class="card-block">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="@Html.DisplayNameFor(f=>f.PhoneNumber)"/>
                        <small class="form-text">Enter the @Html.DisplayNameFor(f => f.PhoneNumber) you submitted during your registration</small>
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>           
                    </div>
                    <div class="form-group">                
                        <button type="submit" class="btn btn-primary">Submit</button>                
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
