
<h3>Your account have been verified and activated for use on this portal, keep your pin very safe, it’s your access to the site.</h3>
<h3>Neither your phone number nor the pin is transferrable to any third party.</h3>