<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h3>Your Password was changed Successfully</h3>
            <a asp-action="Index" asp-controller="Session" class="btn btn-primary">Login to continue</a>
        </div>
    </div>
</div>